<%- include('./layouts/header') %>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                
                <div class="">
                  <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                              <img
                                src="/adminAssets/img/icons/unicons/cc-primary.png"
                                alt="chart success"
                                class="rounded" />
                            </div>
                          </div>
                          <span class="fw-medium d-block mb-1">Total Users</span>
                          <h3 class="card-title mb-2"><%= userCount %></h3>
                         
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                              <img src="/adminAssets/img/icons/unicons/chart-success.png" alt="Credit Card" class="rounded" />
                            </div>
                          </div>
                          <span class="fw-medium d-block mb-1">Delivered Order</span>
                          <h3 class="card-title mb-2"><%= deliveredOrder %></h3>
                        </div>
                       </div>
                      </div>
                 


                
                    <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                              <img src="/adminAssets/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded" />
                            </div>
                          </div>
                          <span class="d-block mb-1">Total Revenue</span>
                          <h3 class="card-title text-nowrap mb-2">$<%= totalRevenue %></h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                              <img src="/adminAssets/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded" />
                            </div>
                          </div>
                          <span class="fw-medium d-block mb-1">Month Revenue</span>
                          <h3 class="card-title mb-2">$<%= MonthlyRevenue %></h3>
                        </div>
                       </div>
                      </div>






                      <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
                        <div class="card">
                          <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                              <div class="avatar flex-shrink-0">
                                <img src="/adminAssets/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded" />
                              </div>
                            </div>
                            <span class="fw-medium d-block mb-1">Todays Revenue </span>
                            <h3 class="card-title mb-2">$<%= todayRevenue %></h3>
                          </div>
                         </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                  <img
                                    src="/adminAssets/img/icons/unicons/chart.png"
                                    alt="Credit Card"
                                    class="rounded" />
                                </div>
                              </div>
                              <span class="fw-medium d-block mb-1">Total Orders</span>
                              <h3 class="card-title mb-2"><%= orderCount %></h3>
                            </div>
                          </div>
                        </div>


                    </div>
                  </div>



                  </div>


                  <div class="card">
                    <div class="card-body">   

                      
                  <div class="row">
                    <div class="d-flex justify-content-around mb-3">
                      <div>
                        <h4 class="mb-0">PDF Report</h4>
                      </div>
                      <div>
                        <h4 class="mb-0">Excel Report</h4>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-around mb-3">
                    <!-- PDF Form -->
                    <form action="/admin/generatePdf" method="get" class="col-sm-4">
                      <div class="input-group">
                        <select class="form-select" name="reportType" id="inputGroupSelect04" aria-label="Example select with button addon">
                          <option value="Choose" selected>Choose PDF Report</option>
                          <option value="Weekly">Weekly</option>
                          <option value="Monthly">Monthly</option>
                          <option value="Yearly">Yearly</option>
                        </select>
                      </div>
                      <div class="mt-2 d-flex justify-content-center">
                        <button id="pdfDownloadBtn" class="btn btn-outline-primary" type="submit">Download</button>
                      </div>
                    </form>
                  
                    <!-- Excel Form -->
                    <form action="/admin/generateExcel" method="get" class="col-sm-4">
                      <div class="input-group">
                        <select class="form-select" name="reportType" id="excelInput" aria-label="Example select with button addon">
                          <option value="Choose" selected>Choose Excel Report</option>
                          <option value="Weekly">Weekly</option>
                          <option value="Monthly">Monthly</option>
                          <option value="Yearly">Yearly</option>
                        </select>
                      </div>
                      <div class="mt-2 d-flex justify-content-center">
                        <button id="excelDownloadBtn" class="btn btn-outline-primary" type="submit">Download</button>
                      </div>
                    </form>
                  </div>
                  
                    
                </div>

                  </div>
    
    
                  </div>

                <!-- Total Revenue -->
                <div class="container">
                  <div class="row">
                      <div class="col-lg-8 mb-4">
                          <div class="card">
                              <div class="row row-bordered g-0">
                                  <div id="chartContainer" class="container">
                                      <canvas id="myChart"></canvas>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-4">
                          <div class="card">
                              <div class="card-header d-flex align-items-center justify-content-between">
                                  <div id="chartContainer" class="container">
                                      <canvas id="myChartCategory" height="340"></canvas>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


              
              
              
                

                              
                                
                      
        

            </div>
                
        
                  

            <%- include('./layouts/footer') %>






            <script>
              // Function to update the download button based on the selected option
              function updateDownloadButton(selectElementId, downloadButtonId) {
                var selectElement = document.getElementById(selectElementId);
                var downloadButton = document.getElementById(downloadButtonId);
            
                // Hide or show the download button based on the selected option
                downloadButton.style.display = selectElement.value === "Choose" ? "none" : "inline-block";
              }
            
              // Add an event listener for the DOMContentLoaded event
              document.addEventListener("DOMContentLoaded", function () {
                // Call the function for PDF download
                updateDownloadButton("inputGroupSelect04", "pdfDownloadBtn");
            
                // Call the function for Excel download
                updateDownloadButton("excelInput", "excelDownloadBtn");
            
                // Add an event listener to the PDF select element
                var pdfSelectElement = document.getElementById("inputGroupSelect04");
                pdfSelectElement.addEventListener("change", function () {
                  updateDownloadButton("inputGroupSelect04", "pdfDownloadBtn");
                });
            
                // Add an event listener to the Excel select element
                var excelSelectElement = document.getElementById("excelInput");
                excelSelectElement.addEventListener("change", function () {
                  updateDownloadButton("excelInput", "excelDownloadBtn");
                });
              });
            </script>
            





            <script>
        
        
  

              
           


              function decodeHtmlEntities(text) {
                    var textArea = document.createElement('textarea');
                    textArea.innerHTML = text;
                    return textArea.value;
                }


              const monthOrder = '<%= JSON.stringify(monthOrder) %>'

              const orderResult = JSON.parse(decodeHtmlEntities(monthOrder))
             


              const data = orderResult.map(entry => entry.count);
              console.log(data);
              
             


              var ctx = document.getElementById('myChart').getContext('2d');
              var myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels:['Jan', 'Feb', 'Mar', 'Apr','May', 'June', 'July', 'Aug','Sept', 'Oct', 'Nov', 'Dec'],
                      datasets: [{
                          label: 'Monthly',
                          data: data,
                          backgroundColor: [
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                          ],
                          borderColor: [
                              'rgba(54, 162, 235, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(54, 162, 235, 1)',
                          ],
                          borderWidth: 1
                      }]
                  },
                  options: {
                     responsive: true,
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero: true
                              }
                          }]
                      }
                  }
              });
        








              const categoryOrder = '<%= JSON.stringify(catagoryCount) %>'

              const categoryResult = JSON.parse(decodeHtmlEntities(categoryOrder))



              const categoryData = categoryResult.map(entry => entry.productCount);
              const categoryLabel = categoryResult.map(entry => entry._id);
              console.log(categoryData);




              var ctx = document.getElementById('myChartCategory').getContext('2d');
              var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                      labels:categoryLabel,
                      datasets: [{
                          label: 'Monthly',
                          data: categoryData,
                          backgroundColor: [
                        'rgba(255, 0, 0, 0.5)', 
                        'rgba(54, 162, 235, 0.5)',  // Red
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 0, 0, 0.2)',
                        'rgba(0, 255, 0, 0.2)',
                        'rgba(0, 0, 255, 0.2)',
                        'rgba(128, 128, 0, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(128, 0, 128, 0.2)',
                    ],
                          borderWidth: 1
                      }]
                  },
                  options: {
                    scales: {
                        x: {
                            display: false, 
                        },
                        y: {
                            display: false, 
                        }
                    }
                }
            });











              </script>