<%- include('./layouts/header') %>





<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">Order List</h4>

    <div class="card">
        <h5 class="card-header">Order List</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>User Name</th>
                        <th>Delivery To</th>
                        <th>Total Price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                   <% order.forEach((orders,index) => { %>
                    
                
                        <tr>
                            <td>
                                <%= index+1 %>
                            </td>
                            <td>
                               <%= orders.address[0].name %>
                            </td>
                            <td>
                                <%= orders.createdAt.toLocaleDateString('en-IN') %>
                            </td>
                            <td>
                                <span>$</span><%= orders.cart.total %>
                            </td>
                            <td>
                                <span>
                                    <span class="badge bg-label-primary me-1"><%= orders.orderStatus %></span>
                                </span>
                            </td>
                            <td>
                               <div>
                                <a href="/admin/orderDetail/<%= orders._id %>" class="btn btn-primary">Order Details</a>
                               </div>
                            </td>
                        </tr>
                        <%   }); %>
                </tbody>
                </table>
                </div>
                </div>

                
<div class="d-flex justify-content-center mt-4" id="pagination">
    
    <ul class="pagination pagination-m">


        <% if (currentPage>1) { %>
            
        
        <li class="page-item prev">
          <a class="page-link" href="/admin/order?page=<%= currentPage-1 %>"
            ><i class="tf-icon bx bx-chevrons-left"></i
          ></a>
        </li>

        <% } %>
        
       <%  for(let i=1;i<=totalPage;i++){ %>
            

            
             <li class="<%= currentPage == i ? 'active':''  %>">
          <a class="page-link" href="/admin/order?page=<%= i %>"><%= i %></a>
            </li>


        <% }%>




       <% if (currentPage<totalPage) { %>
        
        <li class="page-item next">
            <a class="page-link" href="/admin/order?page=<%= parseInt(currentPage)+1 %>"
              ><i class="tf-icon bx bx-chevrons-right"></i
            ></a>
          </li>

        <% } %>
        
      </ul>

</div>










<%- include('./layouts/footer') %>