<!DOCTYPE html>
<html lang="en">


<!-- molla/index-12.html  22 Nov 2019 09:58:43 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Assist Store</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Assist Store">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userAssets/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/userAssets/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/userAssets/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/userAssets/assets/images/icons/site.html">
    <link rel="mask-icon" href="/userAssets/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userAssets/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/userAssets/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userAssets/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/userAssets/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/userAssets/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userAssets/assets/css/style.css">
    <link rel="stylesheet" href="/userAssets/assets/css/demos/demo-12.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-9">
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="/" class="logo">
                            <img src="/userAssets/NewImage/3.png"  alt="Assist Logo" width="150" height="150">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        
                            <div class="me-5">

                                <nav class="main-nav">
                                    <ul class="menu sf-arrows">
                                        <li class="megamenu-container active ">
                                            <a href="/" class="sf-with-ul">Home</a>
                                        </li>
                                        <li>
                                            <a href="/shop" class="sf-with-ul">Shop</a>
                                        </li>
                                        <!-- <li>
                                            <a href="product.html" class="sf-with-ul">Product</a>
                                        </li>
                                        <li>
                                            <a href="#" class="sf-with-ul">Pages</a>
                                        </li>
                                        <li>
                                            <a href="blog.html" class="sf-with-ul">Blog</a>
                                        </li>
                                        <li>
                                            <a href="elements-list.html" class="sf-with-ul">Elements</a>
                                        </li> -->
                                    </ul><!-- End .menu -->
                                </nav><!-- End .main-nav -->

                            </div>
                       
             
                       <div class="d-flex align-content-end">
                            <div class="header-search">
                                <!-- <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                                <form action="#" method="get">
                                    <div class="">
                                    
                                        <div class="header-search-wrapper" >
                                            <label for="q" class="sr-only">Search</label>
                                            <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                        </div>
                                    </div>
                                </form> -->
                                <% if(user==null) {%>
                                    <div class="mb-3 mt-3 mr-3" >
                                    <a href="/login" class="icon-user">
                                    <span style="font-size: 15px;">Login</span></a>                                       
                                </div> 
                            <% }else{ %>
                                <div class="mb-3 mt-3 mr-3 d-flex flex-row" >
                                    <a href="/profile" class="icon-user">
                                    <span style="font-size: 15px; margin-top: 4px;">Profile</span></a>       
                                    <a href="/logout" class="icon-user">
                                        <span style="font-size: 15px; margin-top: 4px;">Logout</span></a>                                   
                                </div>
                                
                            <% } %>
                                
                            </div><!-- End .header-search -->
                            
                            <a href="/wishlist" class="wishlist-link">
                                <i class="icon-heart-o"></i>
                            
                            </a>
                        <% if (user) { %>
                            <div class="dropdown cart-dropdown">
                                <a href="/cart" class="dropdown-toggle" role="button" >
                                    <i class="icon-shopping-cart"></i>
            
                                    
                                </a>

                                
                            </div><!-- End .cart-dropdown -->
                        <%  } else {%>
                            
                        <% } %>
                        </div>
                        
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <div class="intro-slider-container mb-3 mb-lg-5">
                <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav":false, "dots": false, "loop": false}'>
                    <div class="intro-slide" style="background-image: url(/userAssets/NewImage/background.jpg); background-position: top;">
                        <div class="container intro-content text-center mt-15"> 
                            <h3 class="intro-subtitle text-white">SEASONAL PICKS</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Get All The Good Stuff</h1><!-- End .intro-title -->

                            <a href="/shop" class="btn btn-outline-white">
                                <span>DISCOVER MORE</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->
            
            
            <div class="container">
                <div class="heading text-center mb-4">
                    <h2 class="title">Upcoming Jerseys</h2><!-- End .title -->
                    <p class="title-desc">Retro Jerseys</p><!-- End .title-desc -->
                </div><!-- End .heading -->
            
                <div class="row">
                    <% comingData.forEach((comingProducts) => { %>
                        <div class="col-sm-6 col-lg-4">
                            <div class="banner banner-display banner-link-anim">
                                <a href="#">
                                    <img src="/uploads/<%= comingProducts.mainImage %>" alt="Banner">
                                </a>
            
                                <div class="banner-content banner-content-center">
                                    <h3 class="banner-title text-white"><a href=""><%= comingProducts.name %></a></h3><!-- End .banner-title -->
                                    <h4 class="banner-subtitle text-white"><a href=""></a></h4><!-- End .banner-subtitle -->
                                    
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-sm-6 -->
                    <% }); %>
                </div><!-- End .row -->
            </div><!-- End .container -->
            
            <!-- <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="banner banner-display banner-link-anim banner-title-hidden">
                            <a href="#">
                                <img src="/userAssets/assets/images/demos/demo-12/banners/banner-1.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a href="#">This Week's Most Wanted</a></h3><!-- End .banner-title -->
                                <!-- <a href="#" class="btn btn-outline-white banner-link">Shop Now</a>
                            </div><!-- End .banner-content -->
                        <!-- </div>
                    </div>

                    <div class="col-md-6">
                        <div class="banner banner-display banner-link-anim banner-title-hidden">
                            <a href="#">
                                <img src="/userAssets/assets/images/demos/demo-12/banners/banner-2.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a href="#">Bags by Mood</a></h3>
                                <a href="#" class="btn btn-outline-white banner-link">Discover Now</a>
                            </div><
                        </div>
                        <div class="banner banner-display banner-link-anim banner-title-hidden">
                            <a href="#">
                                <img src="/userAssets/assets/images/demos/demo-12/banners/banner-3.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a href="#">The Trend Story</a></h3>
                                <a href="#" class="btn btn-outline-white banner-link">Shop Now</a>
                            </div><
                        </div>
                    </div> -->
                <!-- </div>

                <div class="mb-3"></div>
            </div>  -->


            

            <div class="bg-lighter pt-5 pb-5 mb-5">
                <div class="container">
                    <div class="heading text-center mb-4">
                        <h2 class="title">Recent Arrivals</h2><!-- End .title -->
                        <p class="title-desc">Authentic Jerseys</p><!-- End .title-desc -->
                    </div><!-- End .heading -->

                    <div class="owl-carousel owl-simple" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true
                                }
                            }
                        }'>
                        <% product.forEach((products) => { %>
                            
                        
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="/product-detail/<%= products._id %>">
                                    <img src=" /uploads/<%=products.mainImage %>" alt="Product image" class="product-image">
                                    <img src="/uploads/<%= products.hoverImage %>" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <!-- <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->

                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="/product-detail/<%= products._id %>" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Clothing</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html"><%= products.name %></a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <div style="display: flex; justify-content: start;">
                                        <span>$</span>
                                        <%= products.mainPrice %>
                                    </div>
                                </div><!-- End .product-price -->
                                <!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                     <% }) %>
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .bg-lighter pt-5 pb-5 -->
            
                
           
            <div class="container">
                <div class="heading text-center mb-4">
                    <h2 class="title">Popular Categories</h2><!-- End .title -->
                    <p class="title-desc"></p><!-- End .title-desc -->
                </div><!-- End .heading -->

                <div class="row">
                    <% category.forEach((categories) => { %>
                    <div class="col-sm-6 col-lg-4">
                        <div class="banner banner-display banner-link-anim">
                            <a href="#">
                                <img src="<%= categories.image %>" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a href="#"><%= categories.name %></a></h3><!-- End .banner-title -->
                                <h4 class="banner-subtitle text-white"><a href="#"><%= categories.description %></a></h4><!-- End .banner-subtitle -->
                                <a href="/shop" class="btn btn-outline-white banner-link">Shop Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->
                    <% }) %>
                </div><!-- End .row -->
                
                <div class="icon-boxes-container bg-transparent">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rocket"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                        <p>Orders $800 or more</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rotate-left"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                        <p>Within 7 days</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-info-circle"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Get 100$ Off  Item</h3><!-- End .icon-box-title -->
                                        <p>When you use ASSIST 100</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-life-ring"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                        <p>24/7 amazing services</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .icon-boxes-container -->
            </div><!-- End .container -->
        </main><!-- End .main -->

        <footer class="footer footer-2">
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2024 Assist Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                    <!-- <ul class="footer-menu">
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>End .footer-menu -->

                    <div class="social-icons social-icons-color">
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light" style="transform: translateX(280px);">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->







    <!-- <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                        <div class="banner-content text-center">
                            <img src="/userAssets/NewImage/logo.png" class="logo" alt="logo" width="100" height="50">
                            <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                            <p>Subscribe to the Assist eCommerce newsletter to receive timely updates from your favorite products.</p>
                            <form action="#">
                                <div class="input-group input-group-round">
                                    <input type="email" class="form-control form-control-white" placeholder="Your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><span>go</span></button>
                                    </div>
                                </div>
                            </form>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                <label class="custom-control-label" for="register-policy-2">Do not show this popup again</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2-5col col-lg-5 ">
                        <img src="/userAssets/assets/images/popup/newsletter/img-1.jpg" class="newsletter-img" alt="newsletter">
                    </div>
                </div>
            </div>
        </div>
    </div> -->














    <!-- Plugins JS File -->
    <script src="/userAssets/assets/js/jquery.min.js"></script>
    <script src="/userAssets/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/userAssets/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/userAssets/assets/js/jquery.waypoints.min.js"></script>
    <script src="/userAssets/assets/js/superfish.min.js"></script>
    <script src="/userAssets/assets/js/owl.carousel.min.js"></script>
    <script src="/userAssets/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/userAssets/assets/js/jquery.magnific-popup.min.js"></script>
    
    <!-- Main JS File -->
    <script src="/userAssets/assets/js/main.js"></script>
    <script src="/userAssets/assets/js/demos/demo-12.js"></script>


    <style>
        .icon-user {
            color: white;
            font-size: 30px; /* Set the initial size */
            transition: color 0.3s, font-size 0.3s; 
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
            transition: color 0.3s, font-size 0.3s;
            text-decoration: none; /* Remove underlines from the link */
        }
      
        .icon-user:hover {
          color: #c96;
          
        }
      </style>
</body>


<!-- molla/index-12.html  22 Nov 2019 09:58:58 GMT -->
</html>