<%- include('./layouts/header') %>



























    <div class="page-header text-center" style="background-image: url('/userAssets/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                
                
               
                



                <form action="/checkout" method="post" id="paymentForm">
                    <div class="row">
                        <div class="col-lg-6">
                            

                        <% address.forEach((userAddress,index) => { %>
                            
                      
                            
                            <div class="col-lg-12">
                                <div class="card card-dashboard">
                                    <div class="card-body ">
                                        <div class="d-inline">
                                        <span class="d-flex justify-content-end">
                                            <input required style="height: 20px;width: 20px;" class="form-check-input" type="radio" value="<%= userAddress._id %>"  name="addressInput" <%= userAddress.isDefault===true?'checked':'' %> > 
                                        </span>                       
                                            <h3 class="card-title ">
                                            Address No. <%= index+1 %>
                                        </h3>
                                        </div>
                                        <p><%= userAddress.name %><br>
                                        <%= userAddress.mobile %><br>
                                        <%= userAddress.street %><br>
                                        <%= userAddress.city %><br>
                                        <%= userAddress.address %><br>
                                        <%= userAddress.pincode %><br>
                                        <!-- <a href="#">Edit <i class="icon-edit"></i></a></p> -->

                                    </div><!-- End .card-body -->
                                </div><!-- End .card-dashboard -->
                            </div><!-- End .col-lg-6 -->


                            <% }); %>

                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-6">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% cartItems.forEach((items) => { %>
                                            
                                       
                                        <tr>
                                            <td><img src="/uploads/<%= items.productId.mainImage %>" alt="" height="50px" width="50px" style="border: 1px solid grey;"></td>
                                            <td><a href=""><%= items.productId.name %></a></td>
                                            <td><span>$</span><%= items.productId.price*items.quantity %></td>
                                        </tr>

                                       <% }); %>
                                        

                                       
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td></td>
                                            <td><span>$</span><%= cart.total %></td>
                                        </tr><!-- End .summary-subtotal -->

                                        

                                        <tr>
                                            <td>Shipping:</td>
                                            <td></td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td></td>
                                            <td><span>$</span><%= cart.total %></td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <div class="card mb-1">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <label>
                                                    <input type="radio" name="paymentMethod" value="cod"  required>
                                                    Cash on Delivery
                                                </label>
                                            </h2>
                                        </div><!-- End .card-header -->
                                    </div><!-- End .card -->

                                    <div class="card mb-1">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <label>
                                                    <input type="radio" name="paymentMethod" value="online"  required>
                                                    Online Payment
                                                </label>
                                            </h2>
                                        </div><!-- End .card-header -->
                                    </div><!-- End .card -->
                                </div><!-- End .accordion -->

                                <button id="paymentButton" type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->




<script src="https://checkout.razorpay.com/v1/checkout.js"></script>




<script>







    document.getElementById('paymentForm').addEventListener('submit', function (e) {
        e.preventDefault();
    
        var paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
    
        if (paymentMethod === 'online') {
           

            var options = {
                
                key: "rzp_test_LFeXM6Qd4jOycy",
                amount: "<%= cart.total * 100 %>",
                currency: "INR",
                name: "Assist Store",
                order_id: function() {
                            return  Math.floor(100000 + Math.random() * 900000).toString();
                        },
                handler: function (response) {
                   
                    if (response.razorpay_payment_id) {
                        // Payment successful, show success SweetAlert
                        Swal.fire({
                            icon: 'success',
                            title: 'Payment Successful!',
                            text: 'Your payment was successful.',
                        }).then(() => {
                            // Submit the form
                            document.getElementById('paymentForm').submit();
                        });
                    } else {
                        // Payment failed, show error SweetAlert
                        Swal.fire({
                            icon: 'error',
                            title: 'Payment Failed',
                            text: 'Your payment was not successful. Please try again.',
                        });
                    }
                },
                prefill: {
                    "contact": "<%= address.mobile %>",
                    "name": "<%= address.name %>",
                    "email": "smtwinkle@gmail.com"
                },
                
                theme: {
                    "color": "#2300a3"
                }
                
            };
            
            var razorpayObject = new Razorpay(options);
    
            razorpayObject.on('payment.failed', function (response) {
                console.log(response);
            });
    
            razorpayObject.open();
            
        } else {
            
            Swal.fire({
                icon: 'success',
                title: 'Order Placed!',
                text: 'Your order has been placed successfully.',
            }).then(() => {
                // Submit the form after the SweetAlert is closed
                document.getElementById('paymentForm').submit();
            });
        }
    });
    </script>
    







<%- include('./layouts/footer') %>
